/* TO GET AN IDEA OF THE CSS YOU WILL LIKELY BE USING, SEE THE LISTS BELOW. */

        /* 
        
        Spacing 

            - padding (shorthand and/or specific properties like padding-bottom, etc.)

            - margin, (shorthand and/or specific properties like margin-top, etc.)

            - letter-spacing, word-spacing, line-height

            - width, max-width, min-width
            - height, max-height, min-height

        Typography 

            - font-family, font-size, font-style, font-weight

            - text-decoration, text-align

            - color

            - text-shadow, text-transform

        Box, Layout and Border 

            - border (shorthand and/or specific properties like border-top, border-bottom-radius, border-width, etc.)

            - box-shadow

            - display, float, align-items, align-content

            - grid-template-columns, grid-column-gap

            - transform

        Other

            - :nth()-child (to target specific child elements)

            - :focus, :hover, :active (to target link states)

            - @font-face or @import (to import typefaces)

        */


/* ------ START WRITING YOUR CODE BELOW ------ */

@font-face {
    font-family: roboto;
    src: url(../fonts/serif/roboto-regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: ultra;
    src: url(../fonts/serif/ultra-regular.ttf);
    font-weight: normal;
    font-style: normal;
}
html {
    font-size: 16px;
    font-family: roboto, arial, sans-serif;
}

.main-section {
    display: flex;
}

.article-image {
    float: left;
    margin:0 1rem 0 0;
}

.article-image + p{
    margin-top: 0;
}


.subsection {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
    grid-column-gap: 1%;
}

.subsection figure {
    padding: 0;
    margin: 0;
    background-color:#eed;
}
.subsection img {
    min-width: 5rem;
    padding-bottom: 1%;
}
.subsection figcaption{
    font-size: .75rem;
    padding: .75rem;
}





main {
    margin: 0 auto;
    width: 90%;
    padding-bottom: .25rem;
}
article {
    width: 75%;
}

body {
    padding: 0;
    margin: 0 auto;
    max-width: 104rem;
    min-width: 64rem;
}


img {
    width: 100%;
    display: block;
    max-width: 25rem;
}

a {
    text-decoration: none;
}



header {
    margin: 0 auto;
    padding: .5rem 5%;
}

h1 {
    transform: rotate(-4deg);
    font-size: 3.5rem;
    margin: 2rem 0;
    letter-spacing: .125rem;
    text-shadow: .125rem .125rem .125rem #333;
    color:#000 ;
    background-color:white ;
}

.highlight {
    font-family: ultra, garamond, serif;
    font-weight: normal;
    color: #eed;
    background-color: #833448;
    padding: 0 1rem;
    font-size: 4rem;
    text-transform: uppercase;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: .187rem .187rem .187rem #333;
}


nav {
    border-top: .625rem solid #333;
    border-bottom: .625rem solid #333;
}

nav a {
    font-size: 1.75rem;
    color: #274765;
    font-weight: bold;
}

nav :nth-child(even) :focus,
nav :nth-child(even) :hover,
nav :nth-child(even) :active {
    text-decoration: line-through;
    transform: rotate(4deg);
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #000;
}

nav :nth-child(odd) :focus,
nav :nth-child(odd) :hover,
nav :nth-child(odd) :active {
    text-decoration: line-through;
    transform: rotate(-4deg);
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #000;
}
nav {
    margin: 4rem 0;
    padding: 0 5%;
}

nav a {
    display: inline-block;
    padding: 2rem 6rem 2rem 0;
}


h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1rem;
}
time {
    font-style: italic;
    font-size: .75rem;
    margin-top: 4%;
    padding: .125rem;
}

p {
    line-height: 1.5;
}

button {
    margin-top: 1rem;
    padding: 1rem;
    font-family: ultra, garamond, serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    background-color: #274702;
    box-shadow: .187rem .187rem .187rem #333;
    border: none;
    border-radius: .625rem;
}

button a {
    color: #eed;
}



aside :nth-child(1) {
    margin-top: 0;
}

aside p {
    border-bottom: .0625rem solid #333;
    padding-bottom: 2rem;
    font-size: .75rem;
}

.expand {
    font-size: .25rem;
    display: block;
    padding-top: 5rem;
}

aside {
    margin-left: 3%;
    padding-left: 3%;
    border-left: .625rem solid #333;
}
aside {
    clear: left;
    margin-left: 3%;
    margin-right: 19%;
    width: 19%;
}


footer :nth-child(2) {
    text-align: right;
}

footer a {
    color:rgb(109, 109, 228);
}
footer {
    margin: 6rem auto .5rem auto;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1%;
}