/* TO GET AN IDEA OF THE CSS YOU WILL LIKELY BE USING, SEE THE LISTS BELOW. */

        /* 
        
        Spacing 

            - padding (shorthand and/or specific properties like padding-bottom, etc.)

            - margin, (shorthand and/or specific properties like margin-top, etc.)

            - letter-spacing, word-spacing, line-height

            - width, max-width, min-width
            - height, max-height, min-height

        Typography 

            - font-family, font-size, font-style, font-weight

            - text-decoration, text-align

            - color

            - text-shadow, text-transform

        Box, Layout and Border 

            - border (shorthand and/or specific properties like border-top, border-bottom-radius, border-width, etc.)

            - box-shadow

            - display, float, align-items, align-content

            - grid-template-columns, grid-column-gap

            - transform

        Other

            - :nth()-child (to target specific child elements)

            - :focus, :hover, :active (to target link states)

            - @font-face or @import (to import typefaces)

        */


/* ------ START WRITING YOUR CODE BELOW ------ */
@font-face {
    font-family:sans-serif ;
    src: ;
    font-weight: normal;
    font-style: normal;
}
html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-section {
    display: flex;
}

.article-image {
    float: left;
    margin:0 1rem 0 0;
}

.article-image + p{
    margin-top: 0;
}

.subsection {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
    column-gap: 1%;
}

h3 {
    letter-spacing: normal;
    font-size: 1rem;

}

div aside{
    border-right:1px solid black ;
    border-top:1px solid black ;
}

footer {
    text-align:right;
}

.aside {

}

nav {
    padding-top: 0%;
    margin-top: 2rem;
    color: black;
}
nav {
    text-decoration: none;
    display: center;
    width: 100%;
    line-height: 3;
    text-align: left;
    font-size: 4rem;
    border-top: black;
    border-bottom: black;

}

nav :focus, nav :hover {
    color:blue;
    background: white;
}
nav :active {
    color:black;
    background: white;
}
.main-section time {
    font-size: .5rem;
}
h1 {
    letter-spacing: normal;
    font-size: 2rem;
}
h1 class span {
    text-decoration:rgb(162, 163, 120);
    background-color: rgb(173, 94, 94);
    
}